/*footer logo*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color:  white;
    padding-bottom: 40px;
}

#foot-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

#foot-logo img {
    height: 15%;
    width: 15%;
}

#foot-logo h1 {
    font-family: 'MedievalSharp';
}

/*footer lists*/
.footer h4 {
    text-decoration: underline;
}


/*footer disclaimer*/
.footer #about {
    margin:  0 20px;
}

.footer a {
    color: white;
    margin-right: 20px;
}

@media only screen and (max-width: 800px) {
    .footer #about {
        width: 70%;
    }
}