@import 'nav.css';
@import 'foot.css';

* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
}

h2 {
    margin-left: 2rem;
    text-decoration: overline;
    margin: 40px;
}

h2 a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/*hero section*/
.hero-section {
    height: 100vh;
    opacity: 0.75;
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    text-align: center;

    background-image: url("../images/thom-bradley-mwa_nzFpnJw-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero-section h1 {
    font-family: 'MedievalSharp';
}

.product-section {
    display: flex;
    align-items: flex-start;
}

/*porducts*/
.container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0 40px 20px 40px;

}

.container::-webkit-scrollbar {
    display: none;
}

.container a {
    text-decoration: none;
    color: black;
    text-align: center;
    flex: 0 0 auto;
    width: 250px;
    height: 350px;
}

.container a img {
    height: 75%;
}

.left, .right {
    border: none;
    background: none;
    z-index: 2;
    position: absolute;
    opacity: 1;
    padding-top: 60px;
}

.right {
    right: 0;
}

button:hover {
    transform: scale(1.1);
}

/*collections*/
.collection {
    display: grid;
    grid-template-areas: 2;
    gap: 5px;
    margin: 10px;
}

#gypsy {
    height: 50vh;
    opacity: 0.75;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    background-image: url('../images/nicole-geri-At6KkzyQIgc-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gypsy button {
    background: none;
    border: 4px Solid white;
    color: white;
    font-size: 38px;
    height: 75px;
    width: 75%;
    cursor: pointer;
}

#bohemian {
    height: 50vh;
    opacity: 0.75;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    background-image: url('../images/brooke-cagle-ICFPv3xJY90-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#bohemian button {
    background: none;
    border: 4px Solid white;
    color: white;
    font-size: 38px;
    font-weight: 600;
    height: 75px;
    width: 75%;
    cursor: pointer;
}

#accessories {
    grid-column: span 2;
    height: 50vh;
    width: 100%;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    background-image: url('../images/brooke-cagle-kElEigko7PU-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#accessories button {
    background: none;
    border: 4px Solid white;
    color: white;
    font-size: 38px;
    height: 75px;
    width: 75%;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {

    body {
        margin-top: 5rem;
    }

    .hero-section {
        height: 80vh;
    }

    .container a img {
        height: 50%;
    }

    .container a {
        width: 150px;
    }

    #bohemian {
        height: 50vh;
    }

    #hippie {
        height: 50vh;
    }

    #accessories {
        height: 50vh;
    }
}

@media only screen and (max-width: 500px) {
    .left, .right {
        display: none;
    }
}