@import 'nav.css';

* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
}

/*hero section*/
.hero-section {
    height: calc(100vh - 120px);
    width: 100%;
    margin-top: 208px;

    display: flex;

    background-image: url('../images/brooke-cagle-kElEigko7PU-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info-box {
    width: 491px;
    height: 366px;
    margin: 60px;
    background: #828B7D;
    color: antiquewhite;
    border-radius: 5px;
}

.info-box h2 {
    font-family: 'MedievalSharp';
}

.info-box h2, 
.info-box p {
    padding: 10px;
}

.product-section h2 {
    margin: 40px;
    text-decoration: overline;
}

/*porducts*/
.container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 10px;
    margin: 0 10px;
    overflow: scroll;
}

.container a {
    text-decoration: none;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.container a img {
    height: 75%;
    width: 100%;
}


/*footer*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: black;
    color:  white;
    grid-column: span 5;
    padding: 40px;
}

#foot-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#foot-logo img {
    height: 70%;
    width: 50%;
}

.footer h1 {
    font-family: 'MedievalSharp';
}

.footer #links {
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
}

@media only screen and (max-width: 600px) {
    .hero-section {
        background-image: none;
        height: 320px;
        margin-top: 150px;
    }

    .info-box {
        width:  100%;
        height: auto;
        margin: 0;
        border-radius: 0;
        
    }
}