@import 'nav.css';
@import 'home.css';
@import 'foot.css';

h2 {
    margin-top: 14rem;
}

h1 {
    margin-left: 1rem;
}

.current-selection img {
    height: 800px;
}

.carousel img {
    height: 200px;
    margin: 15px;
}

.selection {
    display: grid;
    grid-template-columns: .7fr 1fr;
    margin: 1rem 1rem;
    gap: 5px;
    border-bottom: 1px solid lightgray;
}

.carousel {
    display: flex;
    width: 50%;
    align-items: center;
}

.product-description {
    text-align: left;
    margin: 0 1rem;
}

.options {
    margin: 1rem 1rem;
    border-top: 1px solid lightgray;
}

.options img {
    height: 200px;
    margin: .5rem;
}

.full-description {
    margin: 0 1rem;
}

@media only screen and (max-width: 750px) {
    h2 {
        margin-top: 10rem;
    }

    .selection img {
        height: 400px;
    }

    .carousel img {
        height: 100px;
    }

    .selection {
        grid-template-columns: unset;
        grid-template-rows: .3fr 1fr;
        gap: unset;

    }

    .options img {
        height: 100px;
    }
}